{% extends "_base.html" %}

{% block content %}
<div class="icon-header success">&#x1F44B;</div>
<h1>Welcome, {{ name }}!</h1>
<p>You've been invited to join the Nihao Carbon Trading
Platform. Click the button below to set up your password
and activate your account.</p>
<a href="{{ setup_url }}" class="btn btn-primary">Set Up Your Password</a>
<div class="callout success" style="margin-top: 20px;">
    <p class="callout-title">What is Nihao Group?</p>
    <p>We're a professional OTC carbon credit trading platform
    enabling swap trading between EU ETS (EUA) and China ETS
    (CEA) emission certificates.</p>
</div>
<div class="callout warning">
    <p>This invitation link will expire in 7 days. If you didn't
    expect this invitation, please ignore this email.</p>
</div>
{% endblock %}
